# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/

# Virtual env
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp

# Build
build/
dist/
*.spec
installer_output/

# Binarios distribuibles
*.exe
*.msi

# Bases de datos locales
*.db
*.sqlite
*.sqlite3

# Logs
logs/
*.log
debug_log.txt

# Datos runtime
data/
